.tab-menu {
    --tabmenu-title-color: #222;
    --tabmenu-button-color: #222;
    --tabmenu-button-color-alternative: #000;
    --tabmenu-background-color: #fff;
    --tabmenu-background-color-alternative: #ddd;
    --tabmenu-border-color: #ddd;
    --tabmenu-border-color-alternative: #ddd;
    --tabmenu-icon-color: #ddd;
    --tabmenu-icon-color-alternative: #ddd;
    --tabmenu-shadow-color: #32B1DA;
    display: flex;
    flex-wrap: wrap;
}

.tab-menu .tabs {
    width: 100%;
    background-color: var(--tabmenu-background-color);
}

.tab-menu .tabs .tab-header {
    min-height: 4.6rem;
    background-color: var(--tabmenu-background-color-alternative);
    padding: 1rem;
    color: var(--tabmenu-title-color);
    line-height: 4.6rem;
}

.tab-menu .tabs .tab-menu-list {
    width: 100%;
}
    
.tab-menu.horizontal .tabs .tab-menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tab-menu .tabs .tab-menu-list .tab .tab-link,
.tab-menu .tabs .tab-menu-list .tab .tab-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 4.6rem;
    color: var(--tabmenu-button-color);
    background-color: var(--tabmenu-background-color);
    padding: 1rem;
    text-decoration: none;
    transition: 500ms;
}

.tab-menu .tabs .tab-menu-list .tab .tab-link.opened,
.tab-menu .tabs .tab-menu-list .tab .tab-button.opened,
.tab-menu .tabs .tab-menu-list .tab .tab-link:hover,
.tab-menu .tabs .tab-menu-list .tab .tab-button:hover {
    color: var(--tabmenu-button-color-alternative);
    background-color: var(--tabmenu-background-color-alternative);
}

.tab-menu .tabs .tab-menu-list .tab .tab-button .link-text {
    width: fit-content;
    height: fit-content;
}

.tab-menu .tab-content-list {
    width: 100%;
}

.tab-menu.vertical .tab-content-list .tab-content {
    display: block;
}

.tab-menu .tab-content-list .tab-content.closed {
    display: none;
}

/* * MD */
@media (min-width: 768px) {
    .tab-menu.vertical .tabs {
        width: 25%;
    }
    
    .tab-menu.vertical .tab-content-list {
        width: 75%;
    }
}

/* * LG */
@media (min-width: 1024px) {
    .tab-menu.horizontal .tabs {
        padding: 0 10rem;
    }
}

/* * XL */
@media (min-width: 1200px) {
    /**/
}