.tab-menu {
    display: flex;
    flex-wrap: wrap;
}

/* * Header */
.tab-menu .tab-header {
    flex-basis: 100%;
    min-height: var(--tab-menu-height, 4.6rem);
    background-color: var(--tab-menu-header-background-color, transparent);
    color: var(--tab-menu-header-color, #222);
}

.tab-menu .tab-header picture {
    width: 100vw;
}

.tab-menu .tab-header img {
    width: 100vw;
    height: var(--tab-menu-height, 4.6rem);
    object-fit: contain;
    object-position: center;
}

/* * Tabs */
.tab-menu .tabs {
    width: 100%;
    height: fit-content;
    background-color: var(--tab-menu-tabs-background-color, transparent);
}

.tab-menu .tabs :where(.tab-body, .tab-content, .tab-footer, .tab-menu-list) {
    width: 100%;
}
    
.tab-menu:not(.vertical) .tabs .tab-content {
    overflow-x: auto;
}
    
.tab-menu:not(.vertical) .tabs .tab-menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
}

.tab-menu .tabs .tab-menu-list .tab :where(.tab-button, .tab-link) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: var(--tab-menu-height, 4.6rem);
    background-color: var(--tab-menu-button-background-color, transparent);
    padding: var(--tab-menu-button-padding, 1rem);
    color: var(--tab-menu-button-color, #222);
    text-decoration: none;
    transition: 500ms;
}

.tab-menu .tabs .tab-menu-list .tab.opened :where(.tab-button, .tab-link),
.tab-menu .tabs .tab-menu-list .tab :where(.tab-button, .tab-link):hover {
    background-color: var(--tab-menu-button-background-color-alternative);
    color: var(--tab-menu-button-color-alternative, #000);
}

.tab-menu .tab-content-list {
    width: 100%;
}

.tab-menu.vertical .tab-content-list .tab-content {
    display: block;
}

.tab-menu .tab-content-list .tab-content:not(.opened) {
    display: none;
}

/* ? MD */
@media (min-width: 768px) {
    .tab-menu.vertical :where(.tabs, .tab-content-list) {
        width: var(--tab-menu-tabs-md-width, 25%);
        min-height: calc(100vh - var(--tab-menu-height, 4.6rem));
        max-height: calc(100vh - var(--tab-menu-height, 4.6rem));
        overflow: auto;
    }
    
    .tab-menu.vertical .tab-content-list {
        width: var(--tab-menu-content-md-width, 75%);
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .tab-menu .tab-header img {
        width: auto;
    }

    .tab-menu.vertical .tabs {
        width: var(--tab-menu-tabs-lg-width, 25%);
    }
    
    .tab-menu.vertical .tab-content-list {
        width: var(--tab-menu-content-lg-width, 75%);
    }
}

/* ? XL */
@media (min-width: 1200px) {
    .tab-menu.vertical .tabs {
        width: var(--tab-menu-tabs-xl-width, 25%);
    }
    
    .tab-menu.vertical .tab-content-list {
        width: var(--tab-menu-content-xl-width, 75%);
    }
}

/* ? 2XL */
@media (min-width: 1536px) {
    .tab-menu.vertical .tabs {
        width: var(--tab-menu-tabs-2xl-width, 25%);
    }
    
    .tab-menu.vertical .tab-content-list {
        width: var(--tab-menu-content-2xl-width, 75%);
    }
}

/* ? 3XL */
@media (min-width: 1920px) {
    .tab-menu.vertical .tabs {
        width: var(--tab-menu-tabs-3xl-width, 25%);
    }
    
    .tab-menu.vertical .tab-content-list {
        width: var(--tab-menu-content-3xl-width, 75%);
    }
}