:root {
    --tabmenu-title-color: #222;
    --tabmenu-button-color: #222;
    --tabmenu-button-color-alternative: #000;
    --tabmenu-background-color: #fff;
    --tabmenu-background-color-alternative: #ddd;
    --tabmenu-border-color: #ddd;
    --tabmenu-border-color-alternative: #ddd;
    --tabmenu-icon-color: #ddd;
    --tabmenu-icon-color-alternative: #ddd;
}

.tab-menu {
    display: flex;
    flex-wrap: wrap;
}

.tab-menu.vertical {
    min-height: 100vh;
}

.tab-menu .tabs {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--tabmenu-background-color);
}
    
.tab-menu.horizontal .tabs .tab-menu-list {
    overflow-x: auto;
}

.tab-menu .tabs .tab-header {
    min-height: 4.6rem;
    background-color: var(--tabmenu-background-color-alternative);
    padding: 1rem;
    color: var(--tabmenu-title-color);
    line-height: 4.6rem;
}

.tab-menu .tabs .tab-header.logo img {
    width: 100%;
    height: 4.6rem;
    object-fit: contain;
}

.tab-menu .tabs .tab-header.logo h1 {
    display: none;
}

.tab-menu .tabs .tab-footer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.tab-menu .tabs .tab-menu-list {
    width: 100%;
}
    
.tab-menu.horizontal .tabs .tab-menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
    min-width: fit-content;
}

.tab-menu .tabs .tab-menu-list .tab .tab-link,
.tab-menu .tabs .tab-menu-list .tab .tab-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 4.6rem;
    color: var(--tabmenu-button-color);
    background-color: var(--tabmenu-background-color);
    padding: 1rem;
    text-decoration: none;
    transition: 500ms;
}

.tab-menu .tabs .tab-menu-list .tab .tab-link.active,
.tab-menu .tabs .tab-menu-list .tab .tab-button.active,
.tab-menu .tabs .tab-menu-list .tab .tab-link:hover,
.tab-menu .tabs .tab-menu-list .tab .tab-button:hover {
    color: var(--tabmenu-button-color-alternative);
    background-color: var(--tabmenu-background-color-alternative);
}

.tab-menu .tabs .tab-menu-list .tab .tab-button .link-text {
    width: fit-content;
    height: fit-content;
}

.tab-menu .tab-content-list {
    width: 100%;
}

.tab-menu.vertical .tab-content-list .tab-content {
    display: block;
}

.tab-menu .tab-content-list .tab-content.closed {
    display: none;
}

/* ? MD */
@media (min-width: 768px) {
    .tab-menu.vertical .tabs {
        width: 25%;
        height: 100%;
    }
    
    .tab-menu.vertical .tab-content-list {
        width: 75%;
        max-height: 100vh;
        overflow: auto;
    }

    .tab-menu .tabs .tab-footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .tab-menu.horizontal .tabs {
        padding: 0 10rem;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /**/
}

/* ? 2XL */
@media (min-width: 1536px) {
    /**/
}